*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-border{
border-bottom: 1px solid gray;
}

#header-container {
max-width: 1180px;
padding: 0px 15px;
margin: 0 auto;
}

#profile-container {
display: flex;
justify-content: space-between;
padding: 10px 0px;
}

#logo-container, #logo-with-dot-container {
display: flex;
align-items: center;
}

#logo {
margin-right: 20px;
}

/* Стили для <main> */
#main {
background-color: #a6caf0;
}

/* Стили для #main-border */
#main-border {
border-bottom: 1px solid gray;
background-color: white;
}

/* Стили для #main-container */
#main-container {
max-width: 1180px;
padding: 0px 15px;
margin: 0 auto;
}

#links-container {
display: flex;
align-items: center;
justify-content: space-between;
padding: 30px 0px;
}

.links-button {
display: flex;
align-items: flex-end;
background-color: black;
color: white;
padding: 10px 5px;
border-radius: 8px;
position: relative;
}

.create-link-text {
margin-right: 5px;
line: height: 26px;
margin-right: 10px;
}

/* Стили для .create-link-icon */
.create-link-icon {
background-color: gray;
border-radius: 2px;
padding: 0.5px 3px;
}

#sorting-container.container {
max-width: 1180px;
padding: 10px 10px;
margin: 0 auto;
}



/* Стили для #sorting */
#sorting {
/* Добавьте здесь стили для #sorting, если необходимо */
}

/* Стили для #left-content */
#left-content {
width: 300px;
margin-right: 40px;
background-color: white;
}

/* Стили для #right-content */
#right-content {
width: 100%;
background-color: white;
}

#content-container.container {
max-width: 1180px;
padding: 0px 15px;
margin: 0 auto;
display: flex;
align-items: flex-start;
}

#content-container.container {
max-width: 1180px;
padding: 0px 15px;
margin: 0 auto;
display: flex;
align-items: flex-start;
}

#left-content {
margin-right: 40px;
background-color: white;
width: 306px;
height: 200px;
padding: 1px;
border-radius: 8px;
border: 1px solid;
}

#right-content {
width: 100%;
height: 400px;
background-color: white;
margin-bottom: 10px;
border-radius: 8px;
border: 1px solid;
}

.row-reverse {
display: flex;
flex-direction: row-reverse;
padding: 20px 0px;
}

#search-container {
padding-bottom: 10px;
border-bottom: 1px solid gray;
}

#slash-after-logo  {
margin-left: -15px;
margin-right: 15px;
}

#circle-for-user-letter {
margin-left: -34px;
margin-right: 10px;
}

#circle-for-user-letter-with-dot {
margin-left: -34px;
margin-right: 10px;
}

#arrows-after-profile-name{
margin-left: 10px;
}

.frame-svg3 {
/* margin-top: 10px; */
}

.initial-letter {
font-size: 24px; /* Размер шрифта */
margin-right: 9px; /* Отступ справа */
position: relative; /* Установка позиционирования */
z-index: 2; /* Установка z-index, чтобы элемент был выше по стеку */
color: white;
}





/*  */